body {
	margin: 0;
	background-color: #eaeaea;
}

nav {
	background-color: #69a41e;
}

nav div {
	background-color: #77ba22;
	max-width: 1346px;
	margin: 0 auto;
	padding: 0 10px;
}

#hamburger {
	float: right;
	margin-top: 15px;
}

nav ul {
	display: none;
}

#mobile-banking {
	background-color: #eeeeee;
	padding: 20px;
}

#mobile-banking h1 {
	font-size: 16px;
	font-family: Helvetica, Arial;
}


.login {
	background-color: #528224;
	color: #ffffff;
	width: 40%;
	text-align: center;
}

.login +.login {    /* Means an element with class of .login that is after antoehr with class .login*/
	float: right;
} 


#mobile-banking a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	margin: 10px 0;
}

#mobile-banking .contact {
	background-color: #fff;
	display: block;
	color: #333333;
	border: 1px solid #dddddd;
}

#mobile-banking ul {
	list-style: none;
	padding-left: 0;
}

#hero {
	background-color: #333333;
	padding-top: 200px;
	background-image: url(http://placehold.it/400x300);
	background-repeat: no-repeat;
	background-size: 100%;
	max-width: 1346px;
	margin: 0 auto;
}

#hero > p {
	background-color: #ffffff;
	display: inline-block;
	padding: 10px;
	float: right;
}

#hero div {
	background-color: inherit;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	clear: both;
}

#hero a {
	background-color: #fff;
	padding: 10px;
	color: #1b9dcf;
	display: inline-block;
	text-decoration: none;
}

#hero button {
	display: none;
}

#products {
	text-align: center;
	padding: 10px;
	background-color: #fff;
}

#products h1 {
	color: #77ba22;
}

#products a {
	text-decoration: none;
	color: #25a5ca;
	display: inline-block;
	padding: 5px;
	background-color: #eeeeee;
	margin: 2px;
	border: 1px solid #dddddd;
}

#products .percentage + a {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

.percentage {
	width: 300px;
	height: 200px;
	border: 1px solid #eeeeee;
	margin: 20px 0;
	box-shadow: 0 14px 0 -10px #dddddd;
	text-align: left;
}

.percentage > span {
	text-transform: uppercase;
	background-color: #dfdfdf;
	padding: 6px;
	display: inline-block;
	font-weight: bold;
}

span.limited {
	background-color: #ff9100;
	color: #ffffff;
}

.percentage p {
	font-size: 64px;
	font-weight: bold;
	margin: 10px 0;
	padding-left: 10px;
}

.percentage p span {
	font-size: 32px;
	position: relative;

}

.percentage p span:first-child {
	bottom: 22px;
} 

.percentage p span:last-child {
	right: 28px;
} 

.percentage ul {
	list-style: none;
	color: #888888;
	padding-left: 10px;

}

#promos h1 {
	font-size: 20px;
}

#promos a {
	text-decoration: none;
	color: #25a5ca;
	/*display: inline-block;
	padding: 5px;*/
}

#promos span {
	font-weight: bold;
	text-transform: uppercase;

}

.promo-bits {
	padding: 10px;

}








/* 600px */

@media all and (min-width: 600px) {

	#mobile-banking {
		display: none;
	}

	#products {
		width: 500px;
		margin: 0 auto;

	} 
}









/* 720 px */

@media all and (min-width: 720px) {

	nav ul {
		display: block;
		margin: 0;
	}

	#hamburger {
		display: none;
	}

	nav img {
		float: left;
	}

	nav li {
		display: inline-block;
		line-height: 50px;
		padding: 0 10px;
	}

	nav ul:nth-of-type(1) {
		float: left;
	} 
		
	nav ul:nth-of-type(2) {
		float: right;
	}

	nav div:after {
		content: "";
		display: block;
		clear: both;
	}

	nav a {
		color: #fff;
		text-decoration: none;
	}

	nav a span {
		display: none;
	}	

	#hero {
		position: relative;
		background-size: auto;
		background-position: right;

	}

	#hero div {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;

	}

	#hero:after {
		content: "";
		display: block;
		clear: both;
	}

	#hero > p {
		margin-bottom: 0;
	}

}

/* 860px */

@media all and (min-width: 860px) {
	#products div:first-child {
		width: 50%;
		float: left;
	}

	#products {
		width: auto;
		max-width: 1346px;
		margin: 0 auto;
		text-align: left;
		position: relative;
		padding: 0 120px 20px 60px;
		box-sizing: border-box;
	}

	#products:after {
		content: "";
		display: block;
		clear: both;
	}

	.percentage {
		float: right;
	}

	.percentage + a {
		position: absolute;
		bottom: 10px;
		right: 120px;
	}
}







/* 970px */

@media all and (min-width: 970px) {

	nav a span {
		display: inline;
	}

	nav li {
		padding: 0 15px 
	}

}


/* 1020px*/

@media all and (min-width: 1020px) {

	#hero button {
		display: block;
		position: absolute;
		top: 50%;
	}

	#prev {
		left: 0;
	}

	#next {
		right: 0;
	}
}

@media all and (min-width: 1346px) {

	#hero,
	#products	 {
		border-left: 1px solid #dddddd;
		border-right:  1px solid #dddddd;
		box-sizing: border-box;  
}



