body {
	margin: 0;
}

nav {
	background-color: #69a41e;
}

nav div {
	background-color: #77ba22;
	max-width: 1346px;
	margin: 0 auto;
	padding: 0 10px;
}

#hamburger {
	float: right;
	margin-top: 15px;
}

nav ul {
	display: none;
}

#mobile-banking {
	background-color: #eeeeee;
	padding: 20px;
}

#mobile-banking h1 {
	font-size: 16px;
	font-family: Helvetica, Arial;
}


.login {
	background-color: #528224;
	color: #ffffff;
	width: 40%;
	text-align: center;
}

.login +.login {    /* Means an element with class of .login that is after antoehr with class .login*/
	float: right;
} 


#mobile-banking a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	margin: 10px 0;
}

#mobile-banking .contact {
	background-color: #fff;
	display: block;
	color: #333333;
	border: 1px solid #dddddd;
}

#mobile-banking ul {
	list-style: none;
	padding-left: 0;
}

#hero {
	background-color: #333333;
	padding-top: 200px;
	background-image: url(http://placehold.it/400x300);
	background-repeat: no-repeat;
	background-size: 100%;
	max-width: 1346px;
	margin: 0 auto;
}

#hero > p {
	background-color: #ffffff;
	display: inline-block;
	padding: 10px;
	float: right;
}

#hero div {
	background-color: inherit;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	clear: both;
}

#hero a {
	background-color: #fff;
	padding: 10px;
	color: #1b9dcf;
	display: inline-block;
	text-decoration: none;
}

#hero button {
	display: none;
}

#products {
	text-align: center;
	padding: 10px;
}

#products h1 {
	color: #77ba22;
}

#products a {
	text-decoration: none;
	color: #25a5ca;
	display: inline-block;
	padding: 5px;
	background-color: #eeeeee;
	margin: 2px;
	border: 1px solid #dddddd;
}

#products .percentage + a {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

.percentage {
	width: 300px;
	height: 200px;
	border: 1px solid #eeeeee;
	margin: 20px 0;
	box-shadow: 0 14px 0 -10px #dddddd;
	text-align: left;
}

.percentage span {
	text-transform: uppercase;
	background-color: #dfdfdf;
	padding: 6px;
	display: inline-block;
	font-weight: bold;
}

span.limited {
	background-color: #ff9100;
	color: #ffffff;
}













/* 600px */

@media all and (min-width: 600px) {

	#mobile-banking {
		display: none;
	} 
}



/* 720 px */

@media all and (min-width: 720px) {

	nav ul {
		display: block;
		margin: 0;
	}

	#hamburger {
		display: none;
	}

	nav img {
		float: left;
	}

	nav li {
		display: inline-block;
		line-height: 50px;
		padding: 0 10px;
	}

	nav ul:nth-of-type(1) {
		float: left;
	} 
		
	nav ul:nth-of-type(2) {
		float: right;
	}

	nav div:after {
		content: "";
		display: block;
		clear: both;
	}

	nav a {
		color: #fff;
		text-decoration: none;
	}

	nav a span {
		display: none;
	}	

	#hero {
		position: relative;
		background-size: auto;
		background-position: right;

	}

	#hero div {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;

	}

	#hero:after {
		content: "";
		display: block;
		clear: both;
	}

	#hero > p {
		margin-bottom: 0;
	}

}


/* 970px */

@media all and (min-width: 970px) {

	nav a span {
		display: inline;
	}

	nav li {
		padding: 0 15px 
	}

}


/* 1020px*/

@media all and (min-width: 1020px) {

	#hero button {
		display: block;
		position: absolute;
		top: 50%;
	}

	#prev {
		left: 0;
	}

	#next {
		right: 0;
	}
}





